<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      Maybe some description text goes here. It could be anything really. But too much would probably be hard to read. But helps give the reader an overview.
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#">Cool stuff</a></li>
        <li><a href="#">Random feature</a></li>
        <li><a href="#">Team feature</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#">Resource</a></li>
        <li><a href="#">Resource name</a></li>
        <li><a href="#">Another resource</a></li>
        <li><a href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#">Team</a></li>
        <li><a href="#">Locations</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
