<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      This site highlights the ongoing collaboration between the National Park Service's Historic Trails Intermountain Region Office and the University of New Mexico.
    </div>
    <div class="col-6 col-md">
      <h5>Historic Sites</h5>
      <ul class="list-unstyled text-small">
        <li><a href="{{base-url}}/directory">Directory</a></li>
        <li><a href="{{base-url}}/map">Map</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>More about us</h5>
      <ul class="list-unstyled text-small">
        <li><a href="{{baseu-url}}/about">About</a></li>
        <li><a href="{{baseu-url}}/credits">Credits</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Links</h5>
      <ul class="list-unstyled text-small">
        <li><a href="http://fredgibbs.net/courses/landscape-memory">Landscape & Memory</a></li>
        <li><a href="http://pnts.org/new/historic-trails-course-ntir-partners-with-the-university-of-new-mexico/">PNTS Newsletter article</a></li>
        <li><a href="https://www.nps.gov/subjects/nationaltrailssystem/national-historic-trails.htm">NPS National Historic Trails</a></li>
      </ul>
    </div>
  </div>
</footer>
