<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{site.baseurl}}/">Santa Fe Trail Historic Sites</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/directory">Sites</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/map">Map</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/credits">Credits</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/code">Code Examples</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/loading-images">Loading Images</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/writing-guide">Writing Guide</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/citation-guide">Citation Guide</a></li>
    </ul>
  </div>
</nav>
