@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');


@media screen {
  /*****************************************************
  PAGE SETUP
  *****************************************************/

  #sheetrock {
    display:none;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4em;
    background-color: #fefefe;
    font-size: 15px;
  }


.navbar {
  background-color:#00274c;
  color:#efefef;
  margin:0;
}

.navbar-nav .nav-item a.nav-link, .navbar-nav a.navbar-brand {
  color:#ccc;
  border-bottom:none;
  font-weight:normal;
}

.navbar-nav .nav-item a.nav-link:visited, .navbar-nav a.navbar-brand:visited {
  color:#ccc;
  border-bottom:none;
  font-weight:normal;
}

.navbar-inverse .navbar-brand {
  border-bottom:none;
}

.navbar-nav .nav-item a.nav-link:hover {
  color:#FFC72C;
}


.navbar-default .navbar-nav>li>a:hover {
  color:#FFC72C;
}

.nav-item {
  background:
}

li.nav-item {
  margin-bottom:0;
}

}

  .container-fluid {
    text-align:left;
  }

  .single-col {
  }



/*****************************************************
HOME PAGE
*****************************************************/

.jumbotron {
    margin-bottom: 2rem;
    opacity:.6;
    background-position: 0% 25%;
    text-align:center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    //text-shadow: black 0.3em 0.3em 0.3em;
    max-height: 60%;
  }

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  margin-bottom: 1.5em;
  max-width:60em;
}

.jumbotron p {
  text-align:center;
}

/*****************************************************
TYPOGRAPHY
*****************************************************/

h1, h2, h3, h4, h5 {
  font-family: 'Georgia', sans-serif;
  text-align:left;
  margin: 3rem 0 .4rem 0;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom:1em;
}

.home-title h1 {
  font-family: 'Abril Fatface', sans-serif;
  color:#fff;
  font-size: 3rem;
  margin-top: -1.2em;
  margin-bottom: .2em;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size:1.2rem;
}

h5 {
  text-transform:uppercase;
  font-size:1rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  clear:both;
}

p.abstract {
  border:1px solid gray;
  background-color: #e5d3bb;
  padding:2em;
  font-size: 90%;
  margin: 3em 0 4em 0em;
}

p.author {
  margin: .5em 0 0em 0;
  text-align: center;
  text-transform: uppercase;
  color:#666;
}
blockquote {
  margin: -1em 4em 1em 4em;
  font-size: 90%;
  border:none;
}

a {
  color: #005999;
  font-weight:bold;
  border-bottom: 2px dotted #87a7be;
}

a:visited {
 color: #44136c;
 border-bottom: 2px dotted #956cb7;
}

a:hover {
  text-decoration:none;
}


ul {
  margin-bottom:1rem;
}

li {
  margin-bottom:.4rem;
}

li ul li {
  color:#666666;
  list-style: none;
  margin-bottom:1em;
}

.full-width {
  margin-bottom:2rem;
}

.full-width p {
  width:100%;
  padding: 0 15%;
  margin:0;
  font-style: italic;
}



.highlight {
  background-color:#ccc;
}



/*****************************************************
PULLQUOTES
*****************************************************/


aside {
  border-top:.3rem solid black;
  border-bottom:.3rem solid black;
  margin: 1rem 0 1rem 0;
}

aside p{
  font-size:90%;
  font-weight:bold;
  text-align:justify;
  line-height:1.2rem;
  padding:0;
  margin:0;
  width:100%;
}


aside.right {
float:right;
margin-left: 1rem;

}

aside.left {
float:left;
left:0;
margin-right: 1rem;
margin-top:.6rem;
}


/*****************************************************
IMAGES
*****************************************************/

figure {
  margin-bottom:0;
  clear:none;
  margin:none;
  /* no bottom padding; handled with caption */
}

.img-right {
  float:right;
  padding:0 0px 0px 2rem;
  text-align:left;
}

.img-left {
  float:left;
  padding:0 2rem 0px 0px;
}

.img-center {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

figcaption {
  color:#888;
  font-family: 'Oxygen', sans-serif;
  display:block;
  font-size:.8rem;
  margin:.4rem 0 1rem 0;
  clear:both;
  line-height: 1.1rem;
}

figcaption.img-right {
  text-align: justify;
  padding:0 0px 0px 0rem;
}

figcaption.img-left {
  text-align: justify;
  padding:0;
}

figcaption.img-center {
  text-align:justify;
  padding:0;
}

figcaption p {
  margin:0;
  padding:0;
  line-height: 1.2rem;
  font-size:.8rem;
}

figcaption a {
  opacity:.5;
  font-weight:normal;
}

footer {
  margin-top:2em;
  padding: 2em;
  background-color: #823b3b;
  color:#ccc;
  text-align: center;
}


/*****************************************************
DIRECTORY CARDS
*****************************************************/
.card {
width:21%;
min-width:235px;
height:400px;
margin: 3rem 2rem 0rem 0;
float:left;
opacity:.8;
font-size:12px;
}

.card:hover {
background:#eee;
opacity:1;
}

.cards > a {
opacity:1;
color:#000;
}

.cards > a p {
opacity:1;
color:#333;
}


.cards > a:hover {
//background:#eee;
}

.card-block {
padding:1rem 1rem 1rem 1rem;
min-height:14rem;
}

.card-img-top {
width:100%;
height:50%;

}

.card h4 {
font-family:'Open Sans';
font-size:1.2rem;
margin-top:.5rem;
}

.card-text {
font-size:.8rem;
font-weight:normal;
}


/*****************************************************
IMAGE CAROUSEL
*****************************************************/

.slick-slide img {
  padding:0 2rem;
}

.slick-prev:before, .slick-next:before { font-family: FontAwesome; font-size: 40px; line-height: 1; color: gray; opacity: 0.5; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev:before { content: "\f053"; margin-right:5rem;}
[dir="rtl"] .slick-prev:before { content: "\f054"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "\f054"; }
[dir="rtl"] .slick-next:before { content: "\f053"; }

.carousel img{
  max-width:100%;
}

p.carousel-caption {
  color:black;
  text-align:left;
  font-face:'Open Sans';
  font-size:1.4rem;
  text-shadow:none;
  border:0px solid black;
  line-height:1.8rem;
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
  z-index: 2;
  color:#666;
  padding:0;
  margin:.5rem 0 0 2rem;
}


} /* end media screen */


/*****************************************************************************/
/*
/* SMALL SCREEN
/*
/*****************************************************************************/

  @media (max-width: 768px) {


  main {
    margin: 0 1.5%;
  }

.lg-left-col p{
  width:100%;
}

  aside {
  position:relative;
  width:100%;
  padding: .4em;
  border:1px solid #ccc;
  background:#fefefe;
  margin-bottom:1em;
  }

aside.aside-right {
  margin-left:0;
  left:0;
  width:100%;
}

aside p{
  margin:0;
}

figure.img-right-col {
  position:relative;
  width: 100%;
  margin: 1rem 0 1rem 0;
}

}
