h2 {
  color:Midnightblue;
}

div.full-width p {
    width: 100%;
    padding: 0 15%;
    margin: 0;
    font-style: italic;
    font-size:20px;
  color: #4682B4;
}

.jumbotron{
    background-color:###81BEF7;
    text-align:center;
}
