@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oswald');

@media screen {
/*****************************************************
TYPOGRAPHY
*****************************************************/

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4em;
  background-color: #fefefe;
  font-size: 15px;
}

main {
  margin: 0 1.5%;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  margin-bottom: 1.5em;
  max-width:60em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Abril Fatface', sans-serif;
  text-align:left;
  margin: 3rem 0 .4rem 0;
}

h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  margin-bottom:1em;
}

.home-title h1 {
  font-family: 'Abril Fatface', sans-serif;
  color:#fff;
  font-size: 4em;
  margin-top: -1.2em;
  margin-bottom: .2em;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size:1.5rem;
  text-transform:uppercase;
  font-weight:bold;
}

h5 {
  text-transform:uppercase;
  font-size:1.4rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  margin: 0em 2rem;
  padding: 0;
  clear:both;
}

p.abstract {
  border:1px solid gray;
  background-color: #e5d3bb;
  padding:2em;
  font-size: 90%;
  margin: 3em 0 4em 0em;
}

p.author {
  margin: .5em 0 0em 0;
  text-align: center;
  text-transform: uppercase;
  color:#666;
}

a {
  color: #337ab7;
  color: #9a4031;
}

a:visitd {
 color: #9a4031;
}

a:hover {
 color: #9a4031;
}

ul {
  margin-bottom:1.4em;
}

li {
  margin-bottom:.4em;
  font-size:1.2rem;
}

li ul li {
  color:#666666;
  list-style: none;
  margin-bottom:1em;
}

.full-width {
  margin-bottom:2rem;
}

.full-width p {
  width:100%;
  padding: 0 15%;
  margin:0;
  font-style: italic;
}

.single-col aside {
  width: 30%;
  float:right;
}

.single-col aside p{
  font-size:90%;
  line-height:1.6rem;
  padding:0 0rem;
  margin:0;
  text-align: left;
  width:100%;
}

aside.pullquote {
  border-top:.3rem solid #333;
  border-bottom:.3rem solid #333;
  margin-left:1rem;
}

aside.pullquote p{
  font-family:'Oswald';
  font-size:1.5rem;
  padding: 1rem;
  line-height:1.8rem;
  text-align:left;;
}

aside.aside-right {
float:left;
margin-left:64%;
}

aside.aside-left {
float:left;
left:0;
margin:0 1rem 0 0;
margin-top:.6rem;
}


/*****************************************************
IMAGES
*****************************************************/

.jumbotron {
  margin-bottom: 2rem;
  opacity:.6;
  background-position: 0% 25%;
  text-align:center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  max-height: 60%;
  }

  .jumbotron p {
    text-align:center;
  }


figure {
  margin-bottom:0;
  clear:none;
  margin:none;
  /* no bottom padding; handled with caption */
}

.img-right {
  float:right;
  padding:0 0px 0px 2rem;
  text-align:left;
}

.img-left {
  float:left;
  padding:0 2rem 0px 0px;
}

.img-center {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

figcaption {
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  color:#888;
  display:block;
  margin:.4rem 0 2rem 0;
  line-height: 1.1rem;
  clear:both;
}

figcaption.img-right {
  text-align: justify;
  padding:0 0px 0px 0rem;
}

figcaption.img-left {
  text-align: justify;
  padding:0;
}

figcaption.img-center {
  text-align:justify;
  padding:0;
}

figcaption p {
  margin:0;
  padding:0;
  line-height: 1.2rem;

}


/*****************************************************
IMAGE CAROUSEL
*****************************************************/

.slick-slide img {
  padding:0 2rem;
}

.slick-prev:before, .slick-next:before { font-family: FontAwesome; font-size: 40px; line-height: 1; color: gray; opacity: 0.5; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev:before { content: "\f053"; margin-right:5rem;}
[dir="rtl"] .slick-prev:before { content: "\f054"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "\f054"; }
[dir="rtl"] .slick-next:before { content: "\f053"; }

.carousel img{
  max-width:100%;
}

p.carousel-caption {
  color:black;
  text-align:left;
  font-face:'Open Sans';
  font-size:1.4rem;
  text-shadow:none;
  border:0px solid black;
  line-height:1.8rem;
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
  z-index: 2;
  color:#666;
  padding:0;
  margin:.5rem 0 0 2rem;
}


} /* end media screen */


/*****************************************************************************/
/*
/* SMALL SCREEN
/*
/*****************************************************************************/

@media (max-width: 768px) {


  main {
    margin: 0 1.5%;
  }

  aside {
    position:relative;
    width:100%;
    padding: .4em;
    border:1px solid #ccc;
    background:#fefefe;
    margin-bottom:1em;
  }

  aside.aside-right {
    margin-left:0;
    left:0;
    width:100%;
  }

  aside p {
    margin:0;
  }

}
