@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Kanit');

h2 {
  font-family: 'Barlow Condensed', sans-serif;
  color:red;
}

aside.pullquote p {
  font-family: 'Kanit', sans-serif;
}
