@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oswald');

@media screen {
/*****************************************************
TYPOGRAPHY
*****************************************************/

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4em;
  background-color: #fefefe;
  font-size: 15px;
  margin-top:5rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  margin-bottom: 1.5em;
  max-width:60em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Georgia', sans-serif;
  text-align:left;
  margin: 3rem 0 .4rem 0;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom:1em;
}

.home-title h1 {
  font-family: 'Abril Fatface', sans-serif;
  color:#fff;
  font-size: 3rem;
  margin-top: -1.2em;
  margin-bottom: .2em;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size:1.2rem;
}

h5 {
  text-transform:uppercase;
  font-size:1rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  clear:both;
}

p.abstract {
  border:1px solid gray;
  background-color: #e5d3bb;
  padding:2em;
  font-size: 90%;
  margin: 3em 0 4em 0em;
}

p.author {
  margin: .5em 0 0em 0;
  text-align: center;
  text-transform: uppercase;
  color:#666;
}

a {
  color: #005999;
  font-weight:bold;
  border-bottom: 2px dotted #87a7be;
}

a:visited {
 color: #44136c;
 border-bottom: 2px dotted #956cb7;
}

a:hover {
  text-decoration:none;
}

ul {
  margin-bottom:1rem;
}

li {
  margin-bottom:.4rem;
}

li ul li {
  color:#666666;
  list-style: none;
  margin-bottom:1em;
}

.full-width {
  margin-bottom:2rem;
}

.full-width p {
  width:100%;
  padding: 0 15%;
  margin:0;
  font-style: italic;
}

aside {
  width: 30%;
  float:right;
}

aside p{
  font-size:90%;
  line-height:1.6rem;
  padding:0 0rem;
  margin:0;
  text-align: left;
  width:100%;
}


aside.aside-right {
float:left;
margin-left:64%;
}

aside.aside-left {
float:left;
left:0;
margin:0 1rem 0 0;
margin-top:.6rem;
}


/*****************************************************
IMAGES
*****************************************************/

} /* end media screen */


/*****************************************************************************/
/*
/* SMALL SCREEN
/*
/*****************************************************************************/

@media (max-width: 768px) {


  main {
    margin: 0 1.5%;
  }

  aside {
    position:relative;
    width:100%;
    padding: .4em;
    border:1px solid #ccc;
    background:#fefefe;
    margin-bottom:1em;
  }

  aside.aside-right {
    margin-left:0;
    left:0;
    width:100%;
  }

  aside p {
    margin:0;
  }

}
